<div class="eva-container">
    <div class="menu-lateral">
        <div class="lateral-item img-titulo">
            <img src="" alt="" class="lateral-img" alt="logo">
            <a class="item-title" routerLink="/inicio">UniMental</a>
        </div>
        <a class="lateral-item menu-eva-item" routerLink="/inicio">Mi perfil</a>
        <a class="lateral-item menu-eva-item" routerLink="/inicio">Historial</a>
        <a class="lateral-item menu-eva-item" routerLink="/inicio">Recuros</a>
        <a class="lateral-item menu-eva-item" routerLink="/inicio">Evaluación</a>
    </div>
    <div class="menu-central">
        <div class="central-item primero">
            <div class="central-title">Diagnóstico Integral Universitario</div>
            <div class="central-content">Selecciona el área que desea evaluar</div>
        </div>
        <div class="central-item segundo">
            <div class="p-bloque">
                <div class="b-item">
                    <div class="b-title">Depresión</div>
                    <div class="b-content">Evaluación del estado de ánimo y sintomas.</div>
                    <div class="b-button"></div>
                </div>
                <div class="b-item">
                    <div class="b-title">Aislamiento Social</div>
                    <div class="b-content">Análisis de interacción social y patrones.</div>
                    <div class="b-button"></div>
                </div>
                <div class="b-item">
                    <div class="b-title">Rendimiento academico</div>
                    <div class="b-content">Evaluación del Desempeño Académico.</div>
                    <div class="b-button"></div>
                </div>
            </div>
            <div class="s-bloque">
                <div class="b-item">
                    <div class="b-title">Estrés</div>
                    <div class="b-content">Medición de niveles de estrés.</div>
                    <div class="b-button"></div>
                </div>
                <div class="b-item">
                    <div class="b-title">Tipo de Jugador</div>
                    <div class="b-content">Análisis del perfil del jugador y comportamiento.</div>
                    <div class="b-button"></div>
                </div>
                <div class="b-item">
                    <div class="b-title">Procrastinación</div>
                    <div class="b-content">Evaluación de habitos de postergación.</div>
                    <div class="b-button"></div>
                </div>
            </div>
        </div>
    </div>
</div>
