<div class="eva-container">
    <div class="menu-lateral">
        <div class="lateral-item">
            <div class="item-img"></div>
            <div class="item-title"></div>
        </div>
        <div class="lateral-item"></div>
        <div class="lateral-item"></div>
        <div class="lateral-item"></div>
        <div class="lateral-item"></div>
    </div>
    <div class="menu-central">
        <div class="central-item">
        </div>
        <div class="central-item"></div>
    </div>
</div>
