.principal{

    
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center; 
    align-items: center;
    font-size: xx-large;
    text-align: center;
}

