<app-inicio></app-inicio>
<div class="itemRecursos">
    <div class="itemR1">RECURSOS Y AYUDA</div>

    <div class="itemR2">
        <div class="subitem1">
            <div class="subitem2">
                <div class="card" [routerLink]="['/noticias']">
                    <div class="card-div"></div>
                    <div class="card-body">
                        <h5 class="card-title">Artículo sobre <br>
                            salud mental</h5>
                        <p class="card-text">Lea artículos y guías sobre <br>
                            bienestar mental diseñados <br> 
                            para estudiantes universitarios</p>
                    </div>
                </div>
            </div>
            <div class="subitem2">
                <div class="card" [routerLink]="['/herramientas']">
                    <div class="card-div"></div>
                    <div class="card-body">
                        <h5 class="card-title">Herramientas de <br>
                            autoevaluación</h5>
                        <p class="card-text">Evalúe su salud mental con <br>
                            herramientas de autevaluación <br>
                            confidenciales</p>
                    </div>
                </div>
            </div>
            <div class="subitem2">
                <div class="card" [routerLink]="['/consejos']">
                    <div class="card-div"></div>
                    <div class="card-body">
                        <h5 class="card-title">Consejos para manejo <br>
                            del estrés</h5>
                        <p class="card-text">Encuentre consejos prácticos para <br>
                            ayudar a gestionar el estrés <br>
                            académico y personal de forma eficaz</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="subitem1">
            <div class="subitem2">
                <div class="card" [routerLink]="['/enlaces']">
                    <div class="card-div"></div>
                    <div class="card-body">
                        <h5 class="card-title">Enlaces de soporte <br>
                            universitario</h5>
                        <p class="card-text">Enlaces de acceso a servicios <br>
                            de asesoramiento y apoyo <br>
                            universitario</p>
                    </div>
                </div>
            </div>
            <div class="subitem2">
                <div class="card" [routerLink]="['/preguntas']">
                    <div class="card-div"></div>
                    <div class="card-body">
                        <h5 class="card-title">Preguntas frecuentes</h5>
                        <p class="card-text">Encuentre respuestas a <br>
                            preguntas comunes sobre la <br>
                            plataforma y la privacidad</p>
                    </div>
                </div>
            </div>
            <div class="subitem2">
                <div class="card" [routerLink]="['/apoyo']">
                    <div class="card-div"></div>
                    <div class="card-body">
                        <h5 class="card-title">Apoyo comunitario</h5>
                        <p class="card-text">Únase a un espacio seguro para <br>
                            conectarse con otros estudiantes y <br>
                            compartir apoyo sobre temas de salud <br>
                            mental</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
